In [22]:
import pylab
import calendar
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats

from datetime import datetime
import matplotlib.pyplot as plt

In [23]:
data=pd.read_csv("Dataset.csv")

In [24]:
#Just to remove confusions about spelling errors in further analysis
data.rename(columns = {'Hipertension':'Hypertension',
                         'Handcap': 'Handicap'}, inplace = True)

In [25]:
#Checking the unique values of the data set
print('Age:',sorted(data.Age.unique()))
print('Gender:',data.Gender.unique())
print("Neighbourhood",data.Neighbourhood.unique())
print('Scholarship:',data.Scholarship.unique())
print('Hypertension:',data.Hypertension.unique())
print('Diabetes:',data.Diabetes.unique())
print('Alcoholism:',data.Alcoholism.unique())
print('Handicap:',data.Handicap.unique())
print('SMS_received:',data.SMS_received.unique())
#print('No-show:',data.No-show.unique())

Age: [-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 102, 115]
Gender: ['F' 'M']
Neighbourhood ['JARDIM DA PENHA' 'MATA DA PRAIA' 'PONTAL DE CAMBURI' 'REPÚBLICA'
 'GOIABEIRAS' 'ANDORINHAS' 'CONQUISTA' 'NOVA PALESTINA' 'DA PENHA'
 'TABUAZEIRO' 'BENTO FERREIRA' 'SÃO PEDRO' 'SANTA MARTHA' 'SÃO CRISTÓVÃO'
 'MARUÍPE' 'GRANDE VITÓRIA' 'SÃO BENEDITO' 'ILHA DAS CAIEIRAS'
 'SANTO ANDRÉ' 'SOLON BORGES' 'BONFIM' 'JARDIM CAMBURI' 'MARIA ORTIZ'
 'JABOUR' 'ANTÔNIO HONÓRIO' 'RESISTÊNCIA' 'ILHA DE SANTA MARIA'
 'JUCUTUQUARA' 'MONTE BELO' 'MÁRIO CYPRESTE' 'SANTO ANTÔNIO' 'BELA VISTA'
 'PRAIA DO SUÁ' 'SANTA HELENA' 'ITARARÉ' 'INHANGUETÁ' 'UNIVERSITÁRIO'
 'SÃO JOSÉ' 'REDENÇÃO' 'SANTA CLARA' 'CENTRO' 'PARQUE MOSCOSO'
 'DO MOSCOSO' 'SANTOS DUMONT' 'CARATOÍRA' 'ARIOVALDO FAVALESSA'
 'ILHA DO FRADE' 'GURIGICA' 'JOANA D´ARC' 'CONSOLAÇÃO' 'PRAIA DO CANTO'
 'BOA VISTA' 'MORADA DE CAMBURI' 'SANTA LUÍZA' 'SANTA LÚCIA'
 'BARRO VERMELHO' 'ESTRELINHA' 'FORTE SÃO JOÃO' 'FONTE GRANDE'
 'ENSEADA DO SUÁ' 'SANTOS REIS' 'PIEDADE' 'JESUS DE NAZARETH'
 'SANTA TEREZA' 'CRUZAMENTO' 'ILHA DO PRÍNCIPE' 'ROMÃO' 'COMDUSA'
 'SANTA CECÍLIA' 'VILA RUBIM' 'DE LOURDES' 'DO QUADRO' 'DO CABRAL' 'HORTO'
 'SEGURANÇA DO LAR' 'ILHA DO BOI' 'FRADINHOS' 'NAZARETH' 'AEROPORTO'
 'ILHAS OCEÂNICAS DE TRINDADE' 'PARQUE INDUSTRIAL']
Scholarship: [0 1]
Hypertension: [1 0]
Diabetes: [0 1]
Alcoholism: [0 1]
Handicap: [0 1 2 3 4]
SMS_received: [0 1]

In [26]:
#Transforming the data into numbers
from sklearn import preprocessing
#Label Encoding of Gender, Neighbourhood, No-show 
le = preprocessing.LabelEncoder()

le.fit(data["Gender"])
data["Gender"]=le.transform(data["Gender"])


le.fit(data["No-show"])
data["No-show"]=le.transform(data["No-show"])

le.fit(data["Neighbourhood"])
data["Neighbourhood"]=le.transform(data["Neighbourhood"])
data.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,No-show
0,2.987250e+13,5642903,0,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,39,0,1,0,0,0,0,0
1,5.589978e+14,5642503,1,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,39,0,0,0,0,0,0,0
2,4.262962e+12,5642549,0,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,45,0,0,0,0,0,0,0
3,8.679512e+11,5642828,0,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,54,0,0,0,0,0,0,0
4,8.841186e+12,5642494,0,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,39,0,1,1,0,0,0,0

In [27]:
le.fit(data["No-show"])
data["No-show"]=le.transform(data["No-show"])

In [28]:
data["AppointmentDay"].head()

0    2016-04-29T00:00:00Z
1    2016-04-29T00:00:00Z
2    2016-04-29T00:00:00Z
3    2016-04-29T00:00:00Z
4    2016-04-29T00:00:00Z
Name: AppointmentDay, dtype: object

In [29]:
#appointment date
data["AppointmentDay"] = data.AppointmentDay.apply(lambda x : x.split("T")[0])
data["AppointmentDay"].head(2)

0    2016-04-29
1    2016-04-29
Name: AppointmentDay, dtype: object

In [30]:
#schedule date
data["ScheduledDay"] = data.ScheduledDay.apply(lambda x : x.split("T")[0])

In [31]:
import datetime
data.ScheduledDay = data.ScheduledDay.apply(np.datetime64)
data.AppointmentDay = data.AppointmentDay.apply(np.datetime64)


data['timeD']= (data.AppointmentDay -  data.ScheduledDay)/np.timedelta64(1, 'D')
print(data.ScheduledDay.head())
print(data.AppointmentDay.head())
print(data.timeD.head())
print(data.columns)
#print(noShow.AwaitingTime.head())

0   2016-04-29
1   2016-04-29
2   2016-04-29
3   2016-04-29
4   2016-04-29
Name: ScheduledDay, dtype: datetime64[ns]
0   2016-04-29
1   2016-04-29
2   2016-04-29
3   2016-04-29
4   2016-04-29
Name: AppointmentDay, dtype: datetime64[ns]
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: timeD, dtype: float64
Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hypertension',
       'Diabetes', 'Alcoholism', 'Handicap', 'SMS_received', 'No-show',
       'timeD'],
      dtype='object')

In [32]:
#le.fit(data["weekday"])
#data["weekday"]=le.transform(data["weekday"])

In [33]:
data.drop(data[data.timeD < 0].index, inplace=True)

In [34]:
data.drop(data[data.Age < 0].index, inplace=True)

In [35]:
data=data.drop(["AppointmentDay","ScheduledDay","PatientId","AppointmentID"],axis=1)

In [36]:
data.reset_index()
data.index.name="Index"

In [37]:
labels=data.pop("No-show")

In [38]:
labels.shape

(110521,)

In [39]:
!pip install imblearn

Requirement already satisfied: imblearn in c:\users\rishabhstha\anaconda\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\rishabhstha\anaconda\lib\site-packages (from imblearn) (0.4.3)
Requirement already satisfied: scikit-learn>=0.20 in c:\users\rishabhstha\anaconda\lib\site-packages (from imbalanced-learn->imblearn) (0.20.1)
Requirement already satisfied: numpy>=1.8.2 in c:\users\rishabhstha\anaconda\lib\site-packages (from imbalanced-learn->imblearn) (1.15.4)
Requirement already satisfied: scipy>=0.13.3 in c:\users\rishabhstha\anaconda\lib\site-packages (from imbalanced-learn->imblearn) (1.1.0)

In [40]:
from imblearn.over_sampling import SMOTE

df_new,lab_new=SMOTE(random_state=3).fit_sample(data,labels)
df_new=pd.DataFrame(df_new)
lab_new=pd.DataFrame(lab_new)

In [41]:
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_new, lab_new, test_size=0.30, random_state=42)

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier

nn=MLPClassifier(activation='relu', solver='adam',hidden_layer_sizes=(100,), random_state=1,max_iter=200)
nn.fit(X_train, y_train)
print ("Accuracy for NN= ", accuracy_score(y_test, nn.predict(X_test)))

C:\Users\rishabhstha\Anaconda\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:916: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\rishabhstha\Anaconda\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:562: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

Accuracy for NN=  0.763212092583845